
@{
    ViewData["Title"] = "Dettagli";


}

<main class="pt-4">
    <div class="container">
        <div id="dett"></div>
    </div>
</main>

@section Scripts {
    <script>
        initDettagli()
    </script>
}