@{
    ViewData["Title"] = "Home Page";


}

<main class="pt-4">

    <div class="container">
        @*foto container*@
        <div id="cards" class="d-flex justify-content-center row row-cols-2 flex-wrap"></div>
    </div>
</main>

@section Scripts {
    <script>
        initialize();
    </script>
}